<!DOCTYPE html>
<html ng-app="app" lang="en" id="top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A directive for AngularJS providing a advanced visual search box">
    <meta name="author" content="Gator Liu">
    <!-- link rel="icon" href="favicon.ico" -->

    <title>Another Angular Advanced Searchbox</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="angular-advanced-searchbox.min.css">


    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="angular-advanced-searchbox.min.js"></script>


    <script type="text/javascript">
      var app = angular.module('app', ['ui.bootstrap', 'angular-advanced-searchbox']);


      app.controller('DemoController', function($scope, $filter) {
        $scope.availableSearchParams = [
          { key: "name", name: "Name", placeholder: "Name..." },
          { key: "city", name: "City", type:"list", options: [{id:'ny', name:'New York'}, {id:'tp', name:'Taipei'}], required:true },
          { key: "emailAddress", name: "E-Mail", placeholder: "E-Mail..." },
          { key: "job", name: "Job", placeholder: "Job..." },
          { key: "sd", name: "Start Date", placeholder: "sds", type:"date", required:true },
          { key: "ed", name: "End Date", placeholder: "eds", type:"date" }
        ];
          $scope.defaultParams = {
            name: "Max M.",
            city: {id:'tp', name:'Taipei'},
            sd: new Date($filter("date")(Date.now(), 'yyyy-MM-dd'))
            };
          $scope.search = function() {
            alert("do search....:\n  search_key = " + JSON.stringify($scope.searchParams)  );
          };

        $scope.addPredefinedNameSearchParam = function(){
          $scope.searchParams.name = 'Max Mustermann';
        };

        $scope.loadPredefinedSearchParamSet = function(){
          $scope.defaultParams = {
            name: "Max M.",
            city: {id:'tp', name:'Taipei'},
            sd: new Date($filter("date")(Date.now(), 'yyyy-MM-dd'))
          };
        };
      
      });
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
           <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
         <a class="navbar-brand" href="#top">Another Angular Advanced Searchbox</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container" ng-controller="DemoController">
      <div class="jumbotron">

        <h1>Another Angular Advanced Searchbox</h1>
        <p>A directive for AngularJS providing a advanced visual search box. 
        <br /><small>Forked from <a href='https://github.com/dnauck/angular-advanced-searchbox' target='_blank'>Dnauck's project</a> and added some features.</small>
        </p>
         <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" name="donateform">
                   <a class="btn btn-primary btn-lg" href="https://github.com/gatorliu/angular-advanced-searchbox/archive/master.zip" role="button"><span class="fa fa-download"></span> Download</a>
                   <a class="btn btn-default btn-lg" href="https://github.com/gatorliu/angular-advanced-searchbox" role="button"><span class="fa fa-github"></span> Github</a>
         <input type="hidden" name="cmd" value="_s-xclick">
         <input type="hidden" name="hosted_button_id" value="5R3T7PLQSAY9E">
         <!-- input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" -->
                   <a class="btn btn-default btn-lg" href="javascript: document.donateform.submit()" role="button"><span class="fa fa-paypal"></span> Donate </a>
         <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
         </form>
          <!-- 
            <ul class="list-inline" style="margin-bottom: -10px; margin-top:20px">
               <li>Facebook</li>
               <li>google+</li>
            </ul>
          -->
      </div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- another-angular-advanced-searchbox -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0427036105107837"
     data-ad-slot="1384096880"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <div class="row">
        <div class="col-sm-12">
           <h2>Demo
         <a href="https://travis-ci.org/gatorliu/angular-advanced-searchbox" target="_blank"><img src="https://travis-ci.org/gatorliu/angular-advanced-searchbox.svg?branch=master"></a>
           </h2>
          <p>Click on a suggested search parameter or use autocompletion feature and press 'Enter' to add new search parameter to your query. Use 'TAB', 'SHIFT+TAB', 'LEFT', 'RIGHT' or 'BACKSPACE' to navigate between search parameters. Using 'Enter' to Submit.</p>
          <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" defaultparams="defaultParams" placeholder="Search..." enter="search"></nit-advanced-searchbox>
          <p>
            <strong>Output:</strong>
            <pre><code>{{searchParams}}</code></pre>
            The output model could be directly used as params object for Angular's $http API.
          </p>
          <p>
            <strong>Test:</strong> loading predefined search parameters via code:<br />
            <button class="btn btn-info" ng-click="addPredefinedNameSearchParam()">Add predefined "Name" Search Parameter</button>
            <button class="btn btn-info" ng-click="loadPredefinedSearchParamSet()">Load predefined Search Parameter Set</button>
          </p>
        </div>
        <div class="col-sm-12">
          <h2>Getting started</h2>
          <p>Define the available search parameters in your controller's code:</p>
          <p>
            <pre><code>
$scope.availableSearchParams = [
   { key: "name", name: "Name", placeholder: "Name..." },
   { key: "city", name: "City", type:"list", options: [{id:'ny', name:'New York'}, {id:'tp', name:'Taipei'}], required:true },
   { key: "emailAddress", name: "E-Mail", placeholder: "E-Mail..." },
   { key: "job", name: "Job", placeholder: "Job..." },
   { key: "sd", name: "Start Date", placeholder: "sds", type:"date", required:true },
   { key: "ed", name: "End Date", placeholder: "eds", type:"date"}
];
 $scope.defaultParams = {
   name: "Max M.",
   city: {id:'tp', name:'Taipei'},
   sd: new Date($filter("date")(Date.now(), 'yyyy-MM-dd'))
   };
 $scope.search = function() {
   alert("do search....:\n  search_key = " + JSON.stringify($scope.searchParams)  );
 }:
            </code></pre>
          </p>
          <p>Add the following AngularJS directive to your HTML:</p>
          <p>
            <pre><code>&#60;nit-advanced-searchbox
            ng-model="searchParams"
            parameters="availableSearchParams"
            defaultparams="defaultParams"
            placeholder="Search..." 
            enter="search"
            &#62;
&#60;/nit-advanced-searchbox&#62; </code></pre>

          </p>
          <p><a class="btn btn-primary" href="https://github.com/gatorliu/angular-advanced-searchbox/blob/master/README.md" role="button">View Readme &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Gator Liu 2015</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>

